<html>
    <head>
        <title>DPMS</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css" rel="stylesheet">

    </head>
    <body>
        <div class="ui menu">
            <div class="ui container">
                <div class="header item" style="font-size:20px">
                    <i class="fas fa-tasks"></i>DPMS
                 </div>
                <div class="right menu" style="font-size:15px">
                    <a class="item" href='/'>
                            Home
                          </a>
                        <a class="item" href='/login'>
                            Login
                          </a>
                        <a class="item" href="/signup">
                            Signup
                         </a>      
                 </div>
            </div>
        </div>
        <div class="ui container">
            <h2>Distributed Player Management System</h2>
            <h3>Technologies Used</h3>
            <ul>
            <li>Express</li>
            <li>MongoDB (Atlas)</li>
            <li>NodeJs</li>
            <li>EJS</li>
            </ul>
            
        </div>
    </body>
    <script src="https://kit.fontawesome.com/7041ac12e3.js" crossorigin="anonymous"></script>
</html>