<% include partials/headeren %>
<%include partials/sidebaren %>
    <div class="twelve wide column">
        <h2 style="margin-top:40px"><i class="address card icon" style="color:#ac1010"></i>Dashboard:-</h2>
        <div style="margin-top:30px">
            <h3 style="color:#490707"><i class="users icon" style="color:#ac1010"></i>Player Stats</h3>
            <a href="/dashboarden/mymatches"><button class="ui left attached button" style="margin-right:20px">Show Player Stats</button></a>
            <!-- <a href="/dashboarden/schedule"><button class="right attached ui button">Show Teams</button></a> -->
        </div>
        <hr style="margin-right:400px;margin-top:30px">
        <!-- <div style="margin-top:30px">
            <h3 style="color:#490707"><i class="images icon" style="color:#ac1010"></i>Gallery</h3>
            <a href="/dashboard/gallery/newmemory"><button class="ui left attached button" style="margin-right:20px">New Blog</button></a>
            <a href="/dashboard/gallery"><button class="right attached ui button">Show Blogs</button></a>
        </div>  -->
        <hr style="margin-right:400px;margin-top:30px">
        <div style="margin-top:30px">
            <h3 style="color:#490707"><i class="calendar check icon" style="color:#ac1010"></i>Schedule</h3>
            <a href="/dashboarden/schedule"><button class="ui left attached button" style="margin-right:20px">View Schedule</button></a>
            <!-- <a href="/dashboardsc/schedule"><button class="right attached ui button">Show Schedules</button></a> -->
        </div>
    </div>
</div>
<% include partials/footer %>